#navbar1{
    font-family: 'Yeon Sung';
    color : #104F55;
    padding-left : 50px;
    padding-right : 70px;
    background-color:  #6AB4A5;
}

#navbarTitle{
    font-size:60px;
}

#navbar-lett{
    font-size : 35px;
}

li{
    padding-left : 10px;
}

button {
    display: block;
    margin: 0 auto;
    padding: 8px;
    width: 160px;
    height : 80px;
    background: transparent;
    color: #fff;
    text-align: center;
    text-decoration: none;
    letter-spacing: 1px;
    transition: all 0.3s ease-out;
    border : 1px solid white;
    border-radius : 10px;
    padding-left : 20px;
    padding-right : 20px;
}

button:hover,
button:focus,
button:active {
  background: #fff;
  color: #104F55;
  transition: all 0.5s ease-in;
}

#navbarDropdown.dropdown-toggle::after {
    content: none;
}

.dropdown-item{
    text-align: center;
}

.dropdown-item:hover,
.dropdown-item:active{
    background : rgb(236, 236, 236);
}

#navbarDropdown2{
    padding-top : 20px;
}