<section class = "bg-light" style = "padding-top : 50px">
    <div class="container pt-5">
        <div class="row justify-content-center">
            <div class="col-6 border my-5" style = "box-sizing:border-box; background : #6AB4A5">
                <form [formGroup]="storyForm" (ngSubmit)="onSubmit()">
                    <div class="row mb-3"><h1 class = "ml-3 mt-1 mb-4 text-white lead display-4">Story Form</h1></div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="Title" style = "color : white">Title</label>
                                <input type="text" class="form-control" placeholder = "Title" formControlName="Title">
                            </div>
                            <div class="form-group">
                                <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="Origins" name="Origins" #Origin>
                                    <option *ngFor="let Genre of allGenres | async" value="{{Genre.Name}}">{{Genre.Name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="Description" style = "color : white">Description</label>
                                <input type="text" class = "form-control" placeholder = "Description" formControlName = "Description">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>