<div class="section" style = "padding-bottom : 30px;">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col"><h1 class = "lead pt-5" id = "read">Read</h1></div>
                    <div class="col"><img src="../../../assets/images/tumblr1.jpg" id = "readpic" alt=""></div>
                </div>
                <!--
                <h2 class = "pt-4">Explore new worlds, created by other users</h2>
                <div class="row">
                    <div class="col"><img src="../../../assets/images/tumblr2.jpg" alt=""></div>
                </div>-->
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col"><h1 class = "lead pt-5" id = "write">Write</h1></div>
                    <div class="col"><img src="../../../assets/images/tumblr4.jpg" id = "writepic" alt=""></div>
                </div>
            </div>
        </div>
    </div>
</div>