<div class="section" style = "padding-bottom : 30px;">
    <div class="container">
        <div class="row">
            <div class="col"><h1 class = "lead pt-5" id = "read">Read</h1></div>
        </div>
        <div class="row">
            <div class="col"><img src="../../../assets/images/tumblr1.jpg" id = "readpic" alt=""></div>
            <div class="col"><img src="../../../assets/images/tumblr5.jpg" id = "readpic2" alt=""></div>
            <div class="col"><img src="../../../assets/images/tumblr6.jpg" id = "readpic3" alt=""></div>
        </div>
        <div class="row pt-5">
            <div class="col"><h1 class = "lead pt-5" id = "write">Write</h1></div>
        </div>
        <div class="row">
            <div class="col"><img src="../../../assets/images/tumblr4.jpg" id = "writepic" alt=""></div>
            <div class="col"><img src="../../../assets/images/tumblr8.jpg" id = "writepic" alt=""></div>
        </div>
        <div class="row pt-5">
            <div class="col"><h1 class = "lead pt-5" id = "explore">Explore New Worlds</h1></div>
        </div>
        <div class="row pt-5">
            <div class="col"><h1 class = "lead pt-5" id = "explore1">&middot; Created by Other Users</h1></div>
        </div>
        <div class="row pt-5">
            <div class="col"><img src="../../../assets/images/tumblr10.gif" id = "explorepic" alt=""></div>
            <div class="col"><img src="../../../assets/images/tumblr11.gif" id = "explorepic2" alt=""></div>
            <div class="col"><img src="../../../assets/images/tumblr14.webp" id = "explorepic3" alt=""></div>
        </div>
        <div class="row pt-5">
            <div class="col"><h1 class = "lead pt-5" id = "explore1">&middot; Create Your Own</h1></div>
        </div>
        <div class="row pt-3">
            <div class="col"><img src="../../../assets/images/tumblr19.jpg" id = "explorepic4" alt=""></div>
            <div class="col"><img src="../../../assets/images/tumblr3.jpg" id = "explorepic5" alt=""></div>
            <div class="col"><img src="../../../assets/images/tumblr2.jpg" id = "explorepic6" alt=""></div>
        </div>
        <div class="row" style = "padding-top:100px">
            <div class="col">
                <a routerLink = "/login" class="nav-link">
                    <button style = "float: right">
                        LOGIN To Start Your Adventure
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>