<div class="section" style = "padding-bottom : 30px;">
    <div class="container">
        <div class="row">
            <div class="col"><h1 class = "lead pt-5" id = "read">Read</h1></div>
        </div>
        <div class="row">
            <div class="col"><img src="../../../assets/images/tumblr1.jpg" id = "readpic" alt=""></div>
            <div class="col"><img src="../../../assets/images/tumblr5.jpg" id = "readpic2" alt=""></div>
            <div class="col"><img src="../../../assets/images/tumblr6.jpg" id = "readpic3" alt=""></div>
        </div>
        <div class="row pt-5">
            <div class="col"><h1 class = "lead pt-5" id = "write">Write</h1></div>
        </div>
        <div class="row">
            <div class="col"><img src="../../../assets/images/tumblr4.jpg" id = "writepic" alt=""></div>
            <div class="col"><img src="../../../assets/images/tumblr8.jpg" id = "writepic" alt=""></div>
        </div>
        <div class="row">
            <div class="col"><h1 class = "lead pt-5" id = "explore">Explore New Worlds</h1></div>
        </div>
        <div class="row">
            <div class="col"><h1 class = "lead pt-5" id = "explore1">&middot; Created by Other Users</h1></div>
        </div>
        <div class="row">
            <div class="col"><img src="../../../assets/images/tumblr10.gif" id = "explorepic" alt=""></div>
        </div>
    </div>
</div>