<section style = "padding-top : 50px">
  <div class="container">
    <div class="row">
      <div class="col"><h1>Please pick your favourite genres!</h1>  </div>
      <div class="col align-self-end">
        <a href="/home"><div class="btn mb-3" id = "btnNext">Next</div></a>
      </div>
    </div>
    <div class="row pt-3" id="final">
      <div class="col-3" *ngFor="let item of allGenres | async">
        <div class="btn mt-5 circle" (click)="addGenre(item.GenreID);" id = item.GenreID>{{item.Name}}</div>
      </div>
    </div>    
  </div>  
</section>