#notPicked{
  border : 2px solid #CECECE;
  border-radius : 20px;
  padding : 10px;
  margin-top : 10px;
  text-align: center;
  background : #CECECE;
  color : #093135;
  font-weight: 500;
}

#notPicked:hover{
  background : #c0c0c0;
  border-color: #c0c0c0;
  cursor : pointer;
}

#picked{
  border : 2px solid #FC6471;
  border-radius : 20px;
  padding : 10px;
  margin-top : 10px;
  text-align: center;
  background : #FC6471;
  color : #093135;
  font-weight: 500;
}

#picked:hover{
  cursor : default;
}

i{
  padding-left:12px;
  vertical-align: top;
}

i:hover{
  color : black;
  cursor : pointer;
}

#save {
  display: block;
  padding: 10px;
  padding-left : 15px;
  padding-right : 15px;
  background: transparent;
  color: #104F55;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
  transition: all 0.3s ease-out;
  border : 2px solid #6AB4A5;
  border-radius : 10px ;
  padding-left : 20px;
  padding-right : 20px;
}

#save:hover:enabled,
#save:focus,
#save:active {
background: #6AB4A5;
color: white;
transition: all 0.5s ease-in;
}

#cancel {
  display: block;
  padding: 10px;
  padding-left : 15px;
  padding-right : 15px;
  background: transparent;
  color: black;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
  transition: all 0.3s ease-out;
  border : 2px solid grey;
  border-radius : 10px ;
  padding-left : 20px;
  padding-right : 20px;
}

#cancel:hover:enabled,
#cancel:focus,
#cancel:active {
background: grey;
transition: all 0.5s ease-in;
}


#title{
  font-size: 50px;
  text-align : center;
}