<section style = "padding-top : 50px">
  <div class="container">
    <div class="row" >
      <div class="col lead text-center" id = "title">
        Pick your favourite genres
      </div>  
    </div>
    <div class="row pt-3 justify-content-between" id="final">
      <div class="col-5">
        <div class="row">
          <div class="col-sm-auto" *ngFor="let genre of notPickedGenres">
            <div class="text-muted mt-5" id = "notPicked" (click)="addPickedGenre(genre)">{{genre.Name}}</div>
          </div>
        </div>
      </div>

      <div class="pl-5 col-5">
        <div class="row">
          <div class="col-sm-auto" *ngFor="let genre of pickedGenres">
            <div class="mt-5" id = "picked">{{genre.Name}}<i class="fas fa-times" (click)="deletePickedGenre(genre)"></i></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center pt-5 pb-5">
      <button class="btn mb-3 mr-3" (click)="savePickedGenres()" id = "save">Save</button>
      <button class="btn mb-3 ml-3" (click)="router.navigate(['home'])" id = "cancel">Cancel</button>
    </div>
  </div>  
</section>