#notPicked{
  border : 2px solid #CECECE;
  border-radius : 20px;
  padding : 10px;
  margin-top : 10px;
  text-align: center;
  background : #CECECE;
  color : #093135;
  font-weight: 500;
}

#notPicked:hover{
  background : #c0c0c0;
  border-color: #c0c0c0;
  cursor : pointer;
}

#picked{
  border : 2px solid #FC6471;
  border-radius : 20px;
  padding : 10px;
  margin-top : 10px;
  text-align: center;
  background : #FC6471;
  color : #093135;
  font-weight: 500;
}

i{
  padding-left:12px;
  vertical-align: top;
}

i:hover{
  color : black;
  cursor : pointer;
}

#save{
  color : green;
}

#save:hover{
  color : red;
}

#title{
  font-size: 50px;
  text-align : center;
}