#rec{
    padding-top: 30px;
    padding-left : 30px;
    font-size:40px;
    color : #104F55;
}

.fa-smile{
    color : #104F55;
}

.author{
    color : rgb(255, 102, 102);
    font-style: oblique;
    font-family: 'Dosis', sans-serif;
}

#recContainer{
    border : 10px solid #6ab4a580;
    border-radius : 10px;
    padding : 20px;
}

#oneStory{
    margin-top:50px;

}

#oneStory:hover{
    background : rgba(51, 209, 183, 0.295);
    cursor: pointer;
}