h1{
    font-style: oblique;
    font-family: 'Dosis', sans-serif;
    padding-top: 30px;
    padding-left : 30px;
}

.author{
    color : rgb(255, 102, 102);
    font-style: oblique;
    font-family: 'Dosis', sans-serif;
}

#recContainer{
    border : 10px solid rgba(51, 209, 183, 0.295);
    border-radius : 10px;
    padding : 20px;
}

#bestStContainer{
    border : 10px solid rgba(96, 209, 51, 0.295);
    border-radius : 10px;
    padding : 20px;
}