#rec{
    padding-top: 20px;
    font-size:60px;
    color : #6AB4A5;
}

.fa-smile{
    color : #6AB4A5;
}

.author{
    font-style: oblique;
    font-family: 'Dosis', sans-serif;
}

.title{
    font-size: 28px;
    color : #272635;
}

#recContainer{
    padding : 20px;
}

#oneStory{
    margin-top:50px;
    border : 5px solid #6AB4A5;
    border-radius: 40px ;
}


#oneStory:hover{
    cursor: pointer;
    background :#c8ffbe;
}

#genreCircle{
    border : 2px solid #CECECE;
    border-radius : 20px;
    padding : 10px;
    margin-bottom : 10px;
    text-align: center;
    background : #CECECE;
    color : #093135;
    font-weight: 500;
}