<section style = "padding-top : 80px">
    <div class="container" id = "recContainer">
        <h1 id = "rec">Some stories for you to read :) </h1>
        <div class="row pt-5 pl-4" id="oneStory" *ngFor="let item of recommendedStories | async">
            <div class="col">
                <h4>{{item.Title}} ,  </h4>
                <h5 class = "author"> {{item.Author}} </h5>
            </div>
            <div class="col">
                <h5>{{item.Description}} ,  </h5>
            </div>
            <!--
                <div class="col">
                <h5> {{item.Genre}} </h5>
            </div>
            -->
            <div class="col" *ngFor="let genre of item.Genres">
                {{genre.Name}} ,
            </div>
            <div class="col">
                <h5 *ngIf="item.Grade>0">{{item.Grade}} &#9733;</h5>
                <h5 *ngIf="item.Grade==0">Not ratings yet</h5>
            </div>
        </div>    
    </div>
</section>

